.hotel{
  margin: 0%;
  padding: 0;

  .titulo_hotel{
    margin: 40px;
  }
  .noticia{
    box-sizing: border-box;
      img{
        width: 560px;
        height: 400px;
        margin-right: 70px;
      }
      .texto_hotelnoticia{
        padding: 50px;
        height: 430px;
      }
    }
}

.paginas_hoteles{

  .hoteles_tres{

    .card{

      img{
        width: 170px;
        height: 150px;
        margin-top: 6px;
      }
    }

  }
}