.mejores_destinos{

  .titulo_destinos{
    padding: 30px;
  }

  .carta{
    padding-bottom: 40px;
    img{
      width: 288px;
      height: 160px;
    }
    .card{
      .card-text{
        text-align: center;
      }
    }
  }

}